<div class="container mt-5">
  <h2 class="text-center font-weight-light">Customer List</h2>
  <div *ngIf="serverError" class="alert alert-danger">
    {{ serverError }}
  </div>

  <!-- Check if we are loading data -->
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Check if there are no customers -->
  <div *ngIf="!isLoading && customers.length === 0" class="alert alert-info text-center mt-5">
    No customers available.
  </div>

  <table class="table table-striped mt-5" *ngIf="!isLoading && customers.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Total Orders</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.username }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ orderCounts[customer._id] || 0 }}</td>
        <td>{{ totalPrices[customer._id] || 0 | currency:'EUR' }}</td>
      </tr>
    </tbody>
  </table>
</div>
