<div class="container mt-5">
  <h2 class="text-center font-weight-light">Book List</h2>
  <div *ngIf="serverError" class="alert alert-danger">{{ serverError }}</div>

  <div class="row mt-5">
    <div class="col-md-4 mb-4" *ngFor="let book of books">
      <div class="card">
        <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }} Image"> <!-- Ensure the image path is correct -->
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">ISBN: {{ book.isbn }}</p>
          <button class="btn btn-warning" (click)="editBook(book._id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteBook(book._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
